* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing:border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
    border: brown 1px solid;
    border-radius: 5px;
    padding: 10px;

}
ul li {
    list-style: none;
}
a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}